* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}



#flag div:first-child {

    flex-grow: 1;
    height: 100%;
    background-color: #000091;
}

#flag div:nth-child(2) {

    height: 100%;
    flex-grow: 1;
    background-color: #FFFFFF;
}

#flag div:last-child {
    height: 100%;
    flex-grow: 1;

    background-color: #E1000F;
}